body{
    background-image: url(rainbow-background.avif);
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#logo {
    font-size: 70px;
    color:white;
    font-style:bold;
    font-family:cursive;
    margin:50px;
   text-align:center;

}
button
{
    width:120px;
    height: 70px;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px; 
    border-radius: 15px;
    font-size: 20px;
    font-family: cursive;
    font-style: bold;
    color:white;
    border:solid;
    border-width: 2px;
    background-color: #871c4a;
    opacity: 0.8;
}
button:hover{
    background-color: white;
    color:#7f1f49;
}
#puzzle-container {
    width: 1000px;
    height: 1000px;
    border: 1px solid;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 0.7;
    margin-bottom:30px;
}
.puzzle-item {
    width: 200px;
    height: 200px;
    border: 1px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #871c4a;
    font-family: cursive;
    color:white;

}
#buttons{
    list-style: none;
    display: flex;
    justify-content:center;
    flex-direction: rows;
}

label{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    font-family: cursive;
    font-size: 40px;
    color:white;
    font-weight: bold;
    margin-bottom:20px;
}